:root{
    --background: #ffffff;
    --card-bg: #d5f4ff;
    --hover: #3c5a72;
    --button: #2b2b2b;
    --grey: #1aa39f;
    --grey1: #b33b33;
    --text-add: #1aa39f; 
    --emerald: #181414; 
    --text-color: #000000;
    --text-primary: #ffffff;
    --text-secondary: #181414;
}